/* src/styles.css */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  /* default site font */
  font-family: 'Source Sans Pro', sans-serif;
  background: #f5f5dc;
  color: #333;
}

body.dark-mode {
  background: #222;
  color: #eee;
}
a.dark-mode {
  color: #9cf;
}

body.dark-mode .app-header {
  background: #222;
  color: #eee;
}
body.dark-mode .app-header a {
  color: #eee;
}
body.dark-mode .app-header a.active {
  border-color: #9cf;
}