body {
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f4f4f4;
    transition: background-color 0.3s;
}

.header-container, .section-container {
    margin: 0 auto;
    max-width: 2000px;
    padding: 1em;
}

header, footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 1em 0;
}

header a {
    color: #ddd;
    text-decoration: none;
}

section {
    background-color: white;
    margin: 2em;
    padding: 1em;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

button {
    background-color: #444;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #666;
}

.dark-mode {
    background-color: #333;
    color: #fff;
}

.dark-mode header, .dark-mode footer {
    background-color: #111;
}

.fa {
    margin-right: 8px;
}

header a, header a:visited {
    color: #ddd;
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
}

.dark-mode section {
    background-color: #2b2b2b; 
    color: #fff;
}

h1 {
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 108px;
}

body, button {
    font-family: 'Source Sans Pro', sans-serif;
}

.header-container {
    position: relative;
}

.buttons-container {
    position: absolute;
    right: 0;
    top: 10px; /* Ajusta según sea necesario */
}

button {
    font-size: 20px; /* Ajusta el tamaño de los íconos */
    background-color: transparent;
    color: white;
    padding: 5px 10px;
}

button:hover {
    background-color: #666; /* Color de fondo al pasar el ratón */
    color: #ddd; /* Color del ícono al pasar el ratón */
}

#language-selector {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    z-index: 1000; /* Asegura que el menú esté por encima de otros elementos */
}

#language-selector ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#language-selector ul li {
    padding: 5px 5px;
    cursor: pointer;
}

#language-selector ul li:hover {
    background-color: #8f8f8f;
}

#language-selector ul li img {
    width: 25px; /* Ajusta según sea necesario */
    height: auto;
}
