<section class="page contact">
  <h2>{{ 'CONTACT_TITLE' | translate }}</h2>
  <div class="contact-info">
    <span>📧</span> <a href="mailto:jgarciacaliz&#64;gmail.com">jgarciacaliz&#64;gmail.com</a><br>
    <span>🆔</span> CC 1020822910 - PA AS796528<br>
    <span>📱</span> (+57) 304 299 9026<br>
    <span>🔗</span> <a href="https://www.linkedin.com/in/jgarciacaliz" target="_blank">in/jgarciacaliz</a><br>
    <span>🌐</span> <a href="https://jgarciacaliz.github.io/" target="_blank">jgarciacaliz.github.io</a>
  </div>
</section>
