<header @fadeIn class="app-header">
  <nav>
    <a routerLink="profile" routerLinkActive="active">{{ 'MENU_PROFILE' | translate }}</a>
    <a routerLink="experience" routerLinkActive="active">{{ 'MENU_EXPERIENCE' | translate }}</a>
    <a routerLink="skills" routerLinkActive="active">{{ 'MENU_SKILLS' | translate }}</a>
    <a routerLink="certifications-courses" routerLinkActive="active">{{ 'MENU_CERTIFICATIONS_COURSES' | translate }}</a>
    <a routerLink="contact" routerLinkActive="active">{{ 'MENU_CONTACT' | translate }}</a>
  </nav>
  <div class="controls">
  </div>
</header>
