<app-controls-bar />
<ng-container *ngIf="!showHeader">
  <div class="landing-container">
    <div class="controls">
    </div>
    <h1 *ngIf="showFirst"  @fadeInOut class="heading big-ideas"
        [innerHTML]="'BIG_IDEAS'         | translate">
    </h1>
    <h1 *ngIf="showSecond" @fadeInOut class="heading better-solutions"
        [innerHTML]="'BETTER_SOLUTIONS' | translate">
    </h1>


    <div *ngIf="showPhoto" class="landing-header-block" @fadeInOut>
      <img class="landing-photo" src="assets/Picture1.png" alt="Juan Pablo García Cáliz" />
    </div>
    <div *ngIf="showName" class="landing-header-block" @fadeInOut>
      <div class="landing-name">JUAN PABLO GARCÍA CÁLIZ</div>
    </div>
    <h1 *ngIf="showFirst"  @fadeInOut class="heading big-ideas"
        [innerHTML]="'BIG_IDEAS'         | translate">
    </h1>
    <h1 *ngIf="showSecond" @fadeInOut class="heading better-solutions"
        [innerHTML]="'BETTER_SOLUTIONS' | translate">
    </h1>
    <nav *ngIf="showMenu"
         [@slideUp]
         [@menuTransform]="menuState"
         (@menuTransform.done)="onMenuTransformed($event)"
         class="menu">
      <a href="/profile" class="menu-item" (click)="go($event, 'profile')">{{ 'MENU_PROFILE' | translate }}</a>
      <a href="/experience" class="menu-item" (click)="go($event, 'experience')">{{ 'MENU_EXPERIENCE' | translate }}</a>
      <a href="/projects" class="menu-item" (click)="go($event, 'projects')">{{ 'MENU_PROJECTS' | translate }}</a>
      <a href="/skills" class="menu-item" (click)="go($event, 'skills')">{{ 'MENU_SKILLS' | translate }}</a>
      <a href="/certifications-courses" class="menu-item" (click)="go($event, 'certifications-courses')">{{ 'MENU_CERTIFICATIONS_COURSES' | translate }}</a>
      <a href="/contact" class="menu-item" (click)="go($event, 'contact')">{{ 'MENU_CONTACT' | translate }}</a>
    </nav>
    <app-controls-bar *ngIf="showMenu"></app-controls-bar>
  </div>
</ng-container>

<ng-container *ngIf="showHeader">
  <app-header @slideDown></app-header>
  <div class="spa-content" style="padding-top: 4rem;">
    <router-outlet></router-outlet>
  </div>
</ng-container>
